body, html {
  background-color: #2c2f33;
  margin: 0;
  padding: 0;
  height: 100%;
}

.card {
  background-color: #2c2f33; 
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
}

.card-header {
  font-size: 1.8rem;
  padding: 1.5rem;
  background-color: #007bff; 
  color: #ffffff;
  border-bottom: 1px solid #99aab5; 
}

.card-body { 
  padding: 1.5rem;
  font-size: 1.1rem;
  background-color: #2c2f33; 
  color: #ffffff; 
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  background-color: #2f3136; 
  color: #ffffff; 
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #3a3c40; 
}

.badge {
  margin-right: 1rem;
  font-size: 1.5rem; 
  padding: 0.75rem 1.5rem;
  background-color: #7289da; 
  color: white;
}

.fa-inbox,
.fa-user-circle {
  font-size: 2.5rem; 
  color: #ffffff; 
}

.profile-section {
  text-align: center;
  margin-top: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #7289da; 
}

input[type="file"] {
  display: none; 
}

.file-upload {
  display: flex;
  align-items: center;
  margin-top: 10px; 
}

.custom-file-button {
  background-color: #5865f2; 
  color: white; 
  padding: 8px 16px; 
  border-radius: 5px; 
  border: none; 
  margin-right: 10px; 
  cursor: pointer;
}

.custom-file-button:hover {
  background-color: #7289da; 
}

.btn-primary {
  padding: 8px 16px; 
}

.card-footer {
  background-color: #23272a; 
  border-top: 1px solid #2c2f33; 
}

.fa-arrow-left {
  font-size: 2rem; 
  color: #99aab5; 
  cursor: pointer; 
}

.fa-arrow-left:hover {
  color: #ffffff; 
}

.scrollable-message-container {
  height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 10px 10px 20px;
  background-color: #36393f; 
  color: #dcddde; 
  border: 1px solid #2c2f33; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.scrollable-message-container::-webkit-scrollbar {
  width: 12px; 
}

.scrollable-message-container::-webkit-scrollbar-track {
  background: #2f3136; 
}

.scrollable-message-container::-webkit-scrollbar-thumb {
  background-color: #5865f2; 
  border-radius: 10px; 
  border: 3px solid #2f3136; 
}

.scrollable-message-container::-webkit-scrollbar-thumb:hover {
  background-color: #7289da; 
}

.scrollable-message-container {
  scrollbar-width: thin; 
  scrollbar-color: #5865f2 #2f3136; 
}

.btn-danger {
  background-color: #ff4d4d; 
  border: none;
}

.btn-danger:hover {
  background-color: #ff1a1a; 
}
