.card-body {
  padding: 3rem;
}


.card-header {
  font-size: 1.5rem; 
  padding: 1.5rem;
}


.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem; 
  padding: 1rem 1.5rem; 
}


.badge {
  margin-right: 1rem;
  font-size: 1.5rem; 
  padding: 0.75rem 1.5rem;
}


.list-group .list-group {
  margin-top: 0.75rem; 
  margin-left: 0;
  width: 100%;
}

.list-group .list-group-item {
  width: 100%; 
  font-size: 1.25rem; 
  padding: 0.75rem 1.5rem; 
}

.fa-inbox{
  font-size: 2.5rem; 
}



.fa-user-circle {
  font-size: 2.5rem; 
}

.badge-notification {
  position: absolute;
  top: -10px; 
  right: -15px; 
  background-color: red; 
  color: white;
  font-size: 1.25rem; 
  padding: 0.25em 0.5em;
  border-radius: 50%;
}