<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          <h1 class="card-title">Your Groups</h1>
          <div class="d-flex align-items-center">
            <span class="me-2">{{ username }}</span>
            <i class="fas fa-user-circle fa-2x" style="cursor: pointer;" (click)="navigateToAccount()"></i>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let group of groups; let i = index">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column flex-grow-1" (click)="toggleGroup(i)" style="cursor: pointer;">
                  <span class="badge" [ngClass]="getBadgeClass(i)">{{ group }}</span>
                </div>
              </div>
              <ul *ngIf="openGroups[i]" class="list-group mt-2">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let channel of channels[group]">
                  <div class="flex-grow-1">
                    <strong>{{ channel.name }}</strong>
                    <p class="mb-0 text-muted">{{ channel.description }}</p>
                  </div>
                  <button class="btn btn-primary btn-sm" (click)="navigateToChannel(group, channel.name)">Join Channel</button>
                </li>
              </ul>
              <button *ngIf="canDeleteGroup(group)" class="btn btn-danger btn-sm ms-3" (click)="deleteGroup(group)">Delete Group</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
