/* Ensure the card has proper padding */
.card-body {
  padding: 3rem; /* Increase padding */
}

/* Style the card header */
.card-header {
  font-size: 1.5rem; /* Increase font size */
  padding: 1.5rem; /* Increase padding */
}

/* Style the list items */
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem; /* Increase font size */
  padding: 1rem 1.5rem; /* Increase padding */
}

/* Style the badges */
.badge {
  margin-right: 1rem;
  font-size: 1.5rem; /* Increase font size */
  padding: 0.75rem 1.5rem; /* Increase padding */
}

/* Style for the nested list items */
.list-group .list-group {
  margin-top: 0.75rem; /* Adjust margin */
  margin-left: 0; /* Remove left margin */
  width: 100%; /* Ensure full width */
}

.list-group .list-group-item {
  width: 100%; /* Ensure full width */
  font-size: 1.25rem; /* Increase font size */
  padding: 0.75rem 1.5rem; /* Increase padding */
}

.fa-inbox{
  font-size: 2.5rem; /* Increase icon size */
}


/* Style the account icon */
.fa-user-circle {
  font-size: 2.5rem; /* Increase icon size */
}